* {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.cards {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 320px;
    width: 100%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border:1px solid;
    border-radius: 15px;
    height: 280px;
    width: 420px;
}

.cards_1 {
    transform: rotate(180deg);
}

.cards_1.rotate {
    transform: rotate(0deg);
}

.cards_2.rotate {
    transform: rotate(180deg);
}

.card > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card .img {
    width: 200px;
    height: 250px;
    object-fit: contain;
}

.keywords {
    margin: 5px;
    height: 100%;
    opacity: 0;
    width: 200px;
}

.keywords.show{
    opacity: 1;
}

.card li {
    list-style: none;
}

.battle .card:active .keywords {
    opacity: 1;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.point_1, .point_2{
    display: flex;
}

.point_1 {
    transform: rotate(180deg);
}

.win_1,
.win_2 {
    display: none;
}

.win_1.active,
.win_2.active {
    display: inline;
}
